name: AUTOSAR C++ Static Analysis

on:
  pull_request:
    branches: [ main, master ]
  push:
    branches: [ main, master ]

jobs:
  autosar-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install -y clang clang-tidy cmake make

      - name: Run AUTOSAR clang-tidy (show violations)
        run: |
          clang-tidy \
            Src/BankAccount.cpp \
            --checks=autosar-* \
            --warnings-as-errors=autosar-* \
            -- \
            -std=c++17 \
            -IInclude
